<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <h1>Your Book Library!</h1>
    <a href="/add_author"><button>Add Author</button></a>
    <a href="/add_book"><button>Add Book</button></a>

    <form method="GET" action="/search_books">
      <label for="search_query">Search Books:</label>
      <input type="text" id="search_query" name="search_query" required>
      <button type="submit">Search</button>
  </form>

  {% if message %}
  <p>{{ message }}</p>
  {% endif %}

    <form method="GET" action="/sort_books">
      <label for="sort_option">Sort by:</label>
      <select id="sort_option" name="sort_option">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="publication_year">Publication Year</option>
      </select>
      <button type="submit">Sort</button>
  </form>
  

    {% for book in books %}
    <div> <h3>{{ book.title }}, {{ book.author.name }},</h3>
      <img src="{{book.img_url()}}">
      <a href="/book/{{ book.id }}/delete"><button>Delete</button></a>
    </div>
    {% endfor %}

  </body>
</html>